<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nullafi API SDK Sample App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
        body {
            padding-top: 100px;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Nullafi Node SDK Sample App</a>
            </div>
            <div class="navbar-collapse">
                <div class="navbar-right">
                    {{#if vaultObj}}
                    <a href="/reset" class="btn btn-sm btn-danger">Reset Data</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        {{#if vaultObj}}
        <div class="jumbotron">
            <h1 class="text-center">Static vault: {{vaultObj.vaultName}} </h1>
            <h3 class="text-center">Master key: {{vaultObj.masterKey}} </h1>
            <h3 class="text-center">ID: {{vaultObj.id}} </h1>
        </div>
        <div class="row">
            <div class="col-md-3">
                {{#if ssnToken}}
                <p>SSN : {{ssnToken.ssn}}</p>
                <p>SSN Alias: {{ssnToken.ssnToken}}</p>
                <p>Tags: {{ssnToken.tags}}</p>
                {{else}}
                <form action="/static/ssn" method="post">
                    <div class="form-group">
                        <label for="ssn">SSN</label>
                        <input type="text" class="form-control" id="ssn" name="ssn" placeholder="SSN">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">Create SSN Alias</button>
                </form>
                {{/if}}
            </div>
            <div class="col-md-3">
                {{#if firstNameToken}}
                <p>First Name : {{firstNameToken.firstname}}</p>
                <p>First Name Alias: {{firstNameToken.firstnameToken}}</p>
                <p>Tags: {{firstNameToken.tags}}</p>
                {{else}}
                <form action="/static/firstName" method="post">
                    <div class="form-group">
                        <label for="firstName">Fisrt Name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName"
                            placeholder="First Name">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">Create First Name Alias</button>
                </form>
                {{/if}}
            </div>
            <div class="col-md-3">
                {{#if addressToken}}
                <p>Address : {{addressToken.address}}</p>
                <p>Address Alias: {{addressToken.addressToken}}</p>
                <p>Tags: {{addressToken.tags}}</p>
                {{else}}
                <form action="/static/address" method="post">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="Address">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">Create Address Alias</button>
                </form>
                {{/if}}
            </div>
            <div class="col-md-3">
                {{#if dateOfBirthToken}}
                <p>Date of Birth : {{dateOfBirthToken.dateofbirth}}</p>
                <p>Date of Birth Alias: {{dateOfBirthToken.dateofbirthToken}}</p>
                <p>Tags: {{dateOfBirthToken.tags}}</p>
                {{else}}
                <form action="/static/dateOfBirth" method="post">
                    <div class="form-group">
                        <label for="dateOfBirth">Date of Birth</label>
                        <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth"
                            placeholder="Date of Birth">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">Create Data of Birth</button>
                </form>
                {{/if}}
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                {{#if driversLicenseToken}}
                <p>Drivers License : {{driversLicenseToken.driverslicense}}</p>
                <p>Drivers License Alias: {{driversLicenseToken.driverslicenseToken}}</p>
                <p>Tags: {{driversLicenseToken.tags}}</p>
                {{else}}
                <form action="/static/driversLicense" method="post">
                    <div class="form-group">
                        <label for="driversLicense">Drivers License</label>
                        <input type="text" class="form-control" id="driversLicense" name="driversLicense"
                            placeholder="Drivers License">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">Create Drivers License Alias</button>
                </form>
                {{/if}}
            </div>
            <div class="col-md-3">
                {{#if genderToken}}
                <p>Gender : {{genderToken.gender}}</p>
                <p>Gender Alias: {{genderToken.genderToken}}</p>
                <p>Tags: {{genderToken.tags}}</p>
                {{else}}
                <form action="/static/gender" method="post">
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <input type="text" class="form-control" id="gender" name="gender" placeholder="Gender">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">Create Gender Alias</button>
                </form>
                {{/if}}
            </div>
            <div class="col-md-3">
                {{#if lastNameToken}}
                <p>Last Name : {{lastNameToken.lastname}}</p>
                <p>Last Name Alias: {{lastNameToken.lastnameToken}}</p>
                <p>Tags: {{lastNameToken.tags}}</p>
                {{else}}
                <form action="/static/lastName" method="post">
                    <div class="form-group">
                        <label for="address">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">Create Last Name Alias</button>
                </form>
                {{/if}}
            </div>
            <div class="col-md-3">
                {{#if passportToken}}
                <p>Passport : {{passportToken.passport}}</p>
                <p>Passport Alias: {{passportToken.passportToken}}</p>
                <p>Tags: {{passportToken.tags}}</p>
                {{else}}
                <form action="/static/passport" method="post">
                    <div class="form-group">
                        <label for="passport">Passport</label>
                        <input type="text" class="form-control" id="passport" name="passport" placeholder="Passport">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">Create Passport</button>
                </form>
                {{/if}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                {{#if placeOfBirthToken}}
                <p>Place of Birth : {{placeOfBirthToken.placeofbirth}}</p>
                <p>Place of Birth Alias: {{placeOfBirthToken.placeofbirthToken}}</p>
                <p>Tags: {{placeOfBirthToken.tags}}</p>
                {{else}}
                <form action="/static/placeOfBirth" method="post">
                    <div class="form-group">
                        <label for="placeOfBirth">Place of Birth</label>
                        <input type="text" class="form-control" id="placeOfBirth" name="placeOfBirth"
                            placeholder="Place of Birth">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">Create Place of Birth Alias</button>
                </form>
                {{/if}}
            </div>
            <div class="col-md-3">
                {{#if raceToken}}
                <p>Race : {{raceToken.race}}</p>
                <p>Race Alias: {{raceToken.raceToken}}</p>
                <p>Tags: {{raceToken.tags}}</p>
                {{else}}
                <form action="/static/race" method="post">
                    <div class="form-group">
                        <label for="race">Race</label>
                        <input type="text" class="form-control" id="race" name="race" placeholder="Race">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">Create Race Alias</button>
                </form>
                {{/if}}
            </div>
            <div class="col-md-3">
                {{#if randomToken}}
                <p>Random : {{randomToken.data}}</p>
                <p>Random Alias: {{randomToken.alias}}</p>
                <p>Tags: {{randomToken.tags}}</p>
                {{else}}
                <form action="/static/random" method="post">
                    <div class="form-group">
                        <label for="random">Random</label>
                        <input type="text" class="form-control" id="random" name="random" placeholder="Random">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">Create Random Alias</button>
                </form>
                {{/if}}
            </div>
            <div class="col-md-3">
                {{#if vehicleRegistrationToken}}
                <p>Vehicle Registration : {{vehicleRegistrationToken.vehicleregistration}}</p>
                <p>Vehicle Registration Alias: {{vehicleRegistrationToken.vehicleregistrationToken}}</p>
                <p>Tags: {{vehicleRegistrationToken.tags}}</p>
                {{else}}
                <form action="/static/vehicleRegistration" method="post">
                    <div class="form-group">
                        <label for="vehicleRegistration">Vehicle Registration</label>
                        <input type="text" class="form-control" id="vehicleRegistration" name="vehicleRegistration"
                            placeholder="Vehicle Registration">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">Create Passport</button>
                </form>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                {{#if genericToken}}
                <p>Generic : {{genericToken.data}}</p>
                <p>Generic Alias: {{genericToken.alias}}</p>
                <p>Tags: {{genericToken.tags}}</p>
                {{else}}
                <form action="/static/generic" method="post">
                    <div class="form-group">
                        <label for="generic">Generic</label>
                        <input type="text" class="form-control" id="generic" name="generic"
                            placeholder="Generic">
                    </div>
                    <div class="form-group">
                        <label for="template">Template</label>
                        <input type="text" class="form-control" id="template" name="template"
                            placeholder="Template">
                    </div>

                    <button type="submit" class="btn btn-lg btn-primary">Create Generic Alias</button>
                </form>
                {{/if}}
            </div>
        </div>

        {{else}}
        <div class="jumbotron">
            <h1 class="text-center">Create a new static vault:</h1>
        </div>
        <form action="/static/vault" method="post">
            <div class="form-group">
                <label for="email">Vault Name</label>
                <input type="text" class="form-control" id="vaultName" name="vaultName" placeholder="Vault Name">
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Create Static Vault</button>
        </form>
        {{/if}}
    </div>
    <div class="container">
        {{#if communicationVaultObj}}
        <div class="jumbotron">
            <h1 class="text-center">Communication vault: {{communicationVaultObj.vaultName}} </h1>
            <h3 class="text-center">Master key: {{communicationVaultObj.masterKey}} </h1>
            <h3 class="text-center">ID: {{communicationVaultObj.id}} </h1>
        </div>
        <div class="row">
            <div class="col-md-3">
                {{#if emailToken}}
                <p>Email : {{emailToken.email}}</p>
                <p>Email Alias: {{emailToken.emailToken}}</p>
                <p>Tags: {{emailToken.tags}}</p>
                {{else}}
                <form action="/communication/email" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">Create Email Alias</button>
                </form>
                {{/if}}
            </div>
        </div>
        {{else}}
        <div class="jumbotron">
            <h1 class="text-center">Create a new communication vault:</h1>
        </div>
        <form action="/communication/vault" method="post">
            <div class="form-group">
                <label for="email">Vault Name</label>
                <input type="text" class="form-control" id="vaultName" name="vaultName" placeholder="Vault Name">
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Create Communication Vault</button>
        </form>
        {{/if}}
        </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-2.2.3.min.js"
            integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
        
        </body>
        
        </html>